<h2>Add Post</h2>
<form (ngSubmit) ="onSubmit(f)" #f= 'ngForm'><!-- "'ngForm" saved worls"" -->
  <div class="form-group">
    <label for="cnamme">cnamme</label>
    <input type="text"
            class="form-control"
            id="cnamme"
            name="cnamme"
            required
            [(ngModel)] = "product.cnamme">
  </div>
  <div class="form-group">
    <label for="cost">cost</label>
    <input type="text"
            class="form-control"
            id="cost"
            name="cost"
            required
            [(ngModel)] = "product.cost">
   </div>
   <div class="form-group">
    <label for="pid">pid</label>
    <input type="text"
            class="form-control"
            id="pid"
            name="pid"
            required
            [(ngModel)] = "product.pid">
   </div>

   <div class="form-group">
    <label for="catrgoryId">categoryId</label>
    <input type="text"
            class="form-control"
            id="categoryId"
            name="categoryId"
            required
            [(ngModel)] = "product.categoryId">
   </div>
   
   

   <button type="submit" class="btn btn-primary" >Submit</button>

  
</form>

 