<button *ngIf = "!isEdit" (click) = "sendDelete()">Delete</button> 

<button (click) = "toggleEdit()" >{{editButtonText}}</button>
 
<span *ngIf = "isEdit" >
    pid: <input type="text" [(ngModel)] = "product.pid">  
    cost: <input type="text" [(ngModel)] = "product.cost"> 
    categoryId: <input type="text" [(ngModel)] = "product.categoryId">
    cnamme: <input type="text" [(ngModel)] = "product.cnamme">
 </span>

<span *ngIf = "!isEdit" >Name: {{product.cnamme}}, Cost: {{product.cost}}, pid: {{product.pid}}, catrgoryId: {{product.categoryId}} </span>
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 

